.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 300;
}

h4 {
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}
p {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

.icon {
  margin: 0;
  padding-top: 10px;
}

.local-temp {
  font-size: 30px;
}

.weather-stats {
  font-size: 13px;
  line-height: 1.5;
  padding-top: 30px;
  margin: 0;
}

.weather-forecast {
  padding-top: 30px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature.min {
  opacity: 0.7;
}

.link-primary {
  text-decoration: none;
  cursor: default;
  color: #000000;
}

.weather-forecast-icon {
  width: 38px;
}
