.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}
p {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}

.icon {
  margin: 0;
  padding-top: 10px;
}
.local-temp {
  font-size: 20px;
}

.weather-stats {
  font-size: 15px;
  line-height: 1.5;
  padding-top: 10px;
  margin: 0;
}

.temperature-other {
  padding-top: 20px;
}
